# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject
.settings/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Docker
.dockerignore
**/data/

# Microservices Specific
**/logs/
**/tmp/
**/node_modules/
**/__pycache__/

# Agent specific
.agent/
.gemini/

# AI/ML & Data Resources
chroma_db/
*.pth
*.h5
behavior_dataset.csv
scratch_check.py
**/neo4j/data/
**/neo4j/logs/
/recommender-ai-service/retailrocket-dataset/analyze_stats.py
/recommender-ai-service/retailrocket-dataset/category_tree.csv
/recommender-ai-service/retailrocket-dataset/events.csv
/recommender-ai-service/retailrocket-dataset/item_properties_part1.csv
/recommender-ai-service/retailrocket-dataset/item_properties_part2.csv
/recommender-ai-service/dataset2/*.csv
